/**
 * Tania Allard theme for reveal.js
 * Basic reveal.js used and based on the white theme
 */
@import url(../../reveal.js/lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../reveal.js/lib/font/poppins/poppins.css);
@import url(../../reveal.js/lib/font/leafy/leafy.css);
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Dosis:400,600|Overpass+Mono|PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Annie+Use+Your+Telescope');
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
* PERSONAL
*********************************************/

// Colours used on all themes
$light-gray: #e2e6e9;
$white: #fff;
$text-color: #737373; /* dark gray */
$salmon: #F8757F;
$ultraviolet: #5F4B8B;
$seagreen:  #41ead4;
$soda-grey: #aaabab;

// Fonts used with no themes
$code-font:  'Overpass Mono', monospace;

/*********************************************
* DEFINING THEMES
*********************************************/
//This section defines the many themes available
// To define a new theme you need to create a new map
$themes: (
  // The following are colour themes
  'streams':(
    'primary': #5F4B8B, /* ultra violet */
    'secondary': #747CA8, /* lavender violet */
    'third': #3388A6,
    'primary-light':lighten(#5F4B8B, 10%),
    'secondary-light' :lighten(#747CA8, 10%),
  ),
  'lines':(
    'primary': #3A015C, /* violet */
    'secondary': #41ead4, /* sea green */
    'third': #ff206e, /* hot pink*/
    'primary-light':lighten(#3A015C, 10%),
    'secondary-light' :lighten(#41ead4, 10%),
  ),
  'seacalm':(
    'primary': #30638B, /* steel blue */
    'secondary': #EDAF49, /* golden */
    'third': #00798c, /* seagreen*/
    'primary-light':lighten(#30638B, 10%),
    'secondary-light' :lighten(#EDAF49, 10%),
  ),
  'goldilocks':(
    'primary': #30638B, /* steel blue */
    'secondary': #EDAF49, /* golden */
    'third': #8D4593, /* plum */
    'primary-light':lighten(#30638B, 10%),
    'secondary-light' :lighten(#EDAF49, 10%),
  ),
  'duotone':(
    'primary': #CC144B, /* cherry */
    'secondary': #736FBA, /* lilac */
    'third': #A1AAE2, /* light lilac */
    'primary-light':lighten(#736FBA, 10%),
    'secondary-light' :lighten(#CC144B, 10%),
  ),
  'jewels':(
    'secondary': #79C9E8, /*  blue topaz */
    'primary': #4A235D, /* amethyst */
    'third': #FF0368, /* rose */
    'primary-light':lighten(#736FBA, 10%),
    'secondary-light' :lighten(#CC144B, 10%),
  ),
  'soda':(
    'primary': #263c80, /*dark blue*/
    'secondary': #1073b9, /*medium blue*/
    'third': #95d5d4, /*light aqua*/
    'primary-light':lighten( #263c80, 10%),
    'secondary-light' :lighten(#1073b9, 10%),
  ),
  'black':(
    'primary': #BDE16B, /*green*/
    'secondary': #C687E8, /*lilac*/
    'third': #F2E38A, /*yellow*/
    'primary-light':lighten(#BDE16B, 10%),
    'secondary-light' :lighten(#9080bc, 10%),
  ),
  // The following are font themes
  'poppins-font':(
    'title-font': #{'IBMPlexSerif', monospace},
    'base-font' : #{"Poppins", Helvetica, sans-serif},
  ),
  'plex-font': (
    'title-font': #{'IBMPlexSerif', monospace},
    'base-font' : #{'IBMPlexSans', sans-serif},
  ),
  'dosis-font': (
  'title-font': #{'Dosis', sans-serif},
  'base-font' : #{'Didact Gothic', sans-serif},
  ),
  'leafy-font': (
  'title-font': #{'Leafy', cursive},
  'base-font' : #{'Dosis', sans-serif},
  ),
  'allmono-font': (
  'title-font': #{'Muli', sans-serif},
  'base-font' : #{'Space Mono', monospace},
  ),
  'soda-font': (
  'title-font': #{'Open Sans', sans-serif},
  'base-font' : #{'Nunito', sans-serif},
  ),
  'nox-font': (
  'title-font': #{'Annie Use Your Telescope', cursive},
  'base-font' : #{'Open-Sans', sans-serif},
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal {
  font-size: inherit;
  font-weight: normal;
  color: $text-color;
  @include themify($themes){
    font-family: themed('base-font')
  }
}

::selection {
  color: #151515;
  // background: $third;
  text-shadow: none;
  @include themify($themes){
    background: themed('secondary-light')
  }
}

::-moz-selection {
  color: $white;
  // background: $third;
  text-shadow: none;
  @include themify($themes){
    background: themed('third')
  }
}

/*********************************************
* HEADERS
*********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
margin: 0 0 20px 0;
@include themify($themes){
  color: themed('primary');
  font-family: themed('title-font');
}
font-weight: 400; //600 too bold for IBM plex
line-height: 1.2;
letter-spacing: normal;
text-transform: none;
text-shadow: none;
word-wrap: break-word; }


/*********************************************
 * OTHER- modifications to reveal themes
 *********************************************/

.reveal em {
  font-style: italic; }


/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  @include themify($themes){
    text-decoration-color: themed('third');
    -webkit-text-decoration-color: themed('third');
    color: themed('third')
  }
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
  &:hover {
    text-shadow: none;
    border: none;
    // text-decoration: underline;
    @include themify($themes){
      color: themed('third');
      border-bottom: 2px solid themed('third'); /* I prefer a thicker line */
    }}

}


.reveal .roll span:after {
  color: $white;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  @include themify($themes){
    color: themed('third')
  }
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  @include themify($themes){
    color: themed('third')
  }
}

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


/*********************************************
* ENABLE RESPONSIVENESS
*********************************************/
// Breakpoints
$bp-xsmall: 35em; // 568px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries$bp-xsmall: 48em; // 768px
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

html {
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-small} {
    font-size: $base-font-size*1.2;
    line-height: $base-line-height*1.3;
  }

  @media #{$mq-medium} {
    font-size: $base-font-size*1.5;
    line-height: $base-line-height*1.4;
  }

  @media #{$mq-large} {
    font-size: $base-font-size*1.6;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.8;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.9;
  }
}



/*********************************************
* THEME SPECIFICS: EACH PATTERN WILL BE A THEME
*********************************************/

.visually-hidden {
position: absolute !important;
clip: rect(1px, 1px, 1px, 1px);
overflow: hidden;
height: 1px;
width: 1px;
word-wrap: normal; }

// Used for the theming
.reveal[class*="pattern--"] {
  background-position: center center;
  background-size: 133vmax auto; }


/*********************************************
* ACTUAL THEMES
*********************************************/

// Stream now with zigzag
.reveal.pattern--stream {
  background-image: url("../assets/patterns/zigzag_purple.svg");
  background-color: white;}
.reveal.pattern--stream .slides section.intro {
  @include themify($themes){
    background-color: themed('primary')
  }}
.reveal.pattern--stream .slides section.intro .logo {
  background-image: url("../assets/Tania_logo_white.png"); }
.reveal.pattern--stream .slides section.title {
  @include themify($themes){
    background-color: themed('primary')
  } }
.reveal.pattern--stream .progress span {
@include themify($themes){
  background: themed('third')
}
}
.reveal.pattern--stream .controls {
@include themify($themes){
  color: themed('third')}
 }

// Lines
.reveal.pattern--lines {
 background-image: url("../assets/patterns/lines.png"); }
.reveal.pattern--lines .slides section.intro {
 @include themify($themes){
   background-color: themed('secondary')
 } }
.reveal.pattern--lines .slides section.intro .logo {
 background-image: url("../assets/Tania_logo_white.png"); }
.reveal.pattern--lines .slides section.title {
 @include themify($themes){
   background-color: themed('secondary');
   color: themed('primary')
 }}
.reveal.pattern--lines .progress {
 @include themify($themes){
   background-color: themed('third')
 } }


// Hex
.reveal.pattern--hex {
  background-image: url("../assets/patterns/hex_pattern.png"); }
.reveal.pattern--hex .slides section.intro {
  @include themify($themes){
    background-color: themed('secondary')
  }}
.reveal.pattern--hex .slides section.title {
 @include themify($themes){
   background-color: themed('secondary');
   color: themed('primary')
 }}
.reveal.pattern--hex .progress {
 @include themify($themes){
   background-color: themed('third')
} }

// Star
.reveal.pattern--star {
  background-image: url("../assets/patterns/star_pattern.svg"); }
.reveal.pattern--star .slides section.intro {
  @include themify($themes){
    background-color: themed('secondary')
  }}
.reveal.pattern--star .slides section.title {
 @include themify($themes){
   background-color: themed('secondary');
   color: themed('primary')
 }}
.reveal.pattern--star .progress {
 @include themify($themes){
   background-color: themed('third')
} }


// Flowers
.reveal.pattern--flowers {
  background-image: url("../assets/patterns/floral_pattern.svg"); }
.reveal.pattern--flowers .slides section.intro {
  @include themify($themes){
    background-color: themed('secondary');
  }}
.reveal.pattern--flowers .slides section.title {
 @include themify($themes){
   background-color: themed('secondary');
   color: themed('primary');
 }}
.reveal.pattern--flowers .progress {
 @include themify($themes){
   background-color: themed('third');
} }


// pupilines
.reveal.pattern--pupilines {
  background-image: url("../assets/patterns/pupilines.svg"); }
.reveal.pattern--pupilines .slides section.intro {
  @include themify($themes){
    background-color: themed('secondary')
  }}
.reveal.pattern--pupilines .slides section.title {
 @include themify($themes){
   background-color: themed('secondary');
   color: themed('primary')
 }}
.reveal.pattern--pupilines .progress {
 @include themify($themes){
   background-color: themed('secondary')
} }

.reveal.pattern--pupilines .controls {
@include themify($themes){
  color: themed('secondary')}
 }


/*********************************************
* ADDITIONAL SLIDES CLASSES
* THESE CAN BE USED WITH ANY THEME
*********************************************/
// All code
.reveal .slides section.color--code {
  background-color: #eeeeee; /* pale gray */
  font-family: $code-font;
  & h1, h2, h3{
    font-family: $code-font;
  }
  & code{
    background-color: transparent !important;
    font-size: 1rem;
  }
}
.reveal .slides section.color--ice .logo {
  background-image: url("../assets/Tania_logo.png"); }


// Black slides
.reveal .slides section.color--dark {
  background-color: #22272B;
  color: #EEEDEF; }
.reveal .slides section.color--dark .logo {
  background-image: url("../assets/Tania_logo_gray2.png"); }

// Grey lavender
.reveal .slides section.color--ice {
  background-color: #9292A8; /* pale lavender gray */
  color: $white; }
.reveal .slides section.color--ice .logo {
  background-image: url("../assets/Tania_logo.png"); }


// Violet slide
.reveal .slides section.color--violet {
  background-color: #3A015C;
  color: $white; }
.reveal .slides section.color--violet .logo {
  background-image: url("../assets/Tania_logo.png"); }

// Light slide
.reveal .slides section.color--light {
  background-color: $white;
  color: #66646B;} /* dark grey */
.reveal .slides section.color--light .logo {
  background-image: url("../assets/Tania_logo.png"); }

// Dark navy
.reveal .slides section.color--midnight {
  background-color: #2A2A49; /* navy blue */
  color: $white;
  & h1, h2{
    color: $salmon;
  }
}
.reveal .slides section.color--midnight .logo {
  background-image: url("../assets/Tania_logo_gray.png"); }

// Turquoise slide
.reveal .slides section.color--vibrant{
  background-color: $seagreen;
  color:$white;
  & h1{
    color: $white;
  }
}
.reveal .slides section.color--vibrant .logo {
  background-image: url("../assets/Tania_logo.png"); }


// Topaz slide
.reveal .slides section.color--topaz{
  background-color: #67aeca;
  color:$white;
  & h1{
    color: #675682;
  }
}
.reveal .slides section.color--vibrant .logo {
  background-image: url("../assets/Tania_logo.png"); }

// Two tones slide
.reveal .slides section.color--two{
  background-color: $white;
  color: $white;
  background: linear-gradient(to right,
    $ultraviolet 50%,
    $white 50%
  )}
.reveal .slides section.color--two .logo {
  background-image: url("../assets/Tania_logo_gray.png"); }

// items inside the two colour slide
// might change these for a grid in the future
.items-block {
    display: flex;
    @include themify($themes){
      font-family: themed('base-font')
    }
    &.single-block {
    width: 100%;
    display: flex;
    padding: 10px;
        &.left {
            width:50%;
            color: $white;
         }
        &.right {
            width: 50%;
        }
    }
}

// Gradient colour slides
.reveal .slides section.color--grad-purple{
  background-color: $white;
  background: linear-gradient(45deg,
    ( #2D266F, #7C2289 ));
  color: $white!important;
  & h1{
    color: $white;
  }
  & .logo {
    background-image: url("../assets/Tania_logo_white.png"); }
}

.reveal .slides section.color--grad-green{
  background-color: $white;
  color: $white;
  background: linear-gradient(45deg,
    ( #90218C, #009890 ));
  & h1{
    color: $white;
  }
  & .logo{
    background-image: url("../assets/Tania_logo_white.png"); }
}

.reveal .slides section.color--grad-blue{
  background-color: $white;
  color: #FFFFFF;
  background: linear-gradient(45deg,
    ( #303395, #27F0F0 ));
    & h1{
      color: $white;
    }
    & .logo{
      background-image: url("../assets/Tania_logo_white.png"); }
}

/*********************************************
* CSS GRID USE
*********************************************/
.grid-wrapper {
display: grid; }

/*********************************************
* REVEAL SPECIFICS
*********************************************/
// Note that by default the text is aligned to the center
.reveal .slides {
text-align: left;
// text-align: center;
}

.reveal .slides > section,
.reveal .slides > section > section {
padding: 0; }

.reveal .slides > section.past,
.reveal .slides > section.future,
.reveal .slides > section > section.past,
.reveal .slides > section > section.future {
opacity: 1; }

.reveal .controls {
right: 4vmin;
bottom: 4vmin; }
@media (max-width: 768px) {
.reveal .controls {
  right: 2vmin;
  bottom: 2vmin; } }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
margin-bottom: 2.5vmin;
color: inherit;
}

.reveal .slides section {
box-sizing: border-box;
padding: 0; }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
display: block; }

.reveal section img {
background: none;
border: none;
box-shadow: none;
margin: 0; }


/************************************************
* MODIFIED SECTIONS
* ADDS LOGO AND SPECIFICS FOR THE THEME
* Slides have two main areas: header and contetnt
**************************************************/

.reveal .slides section {
height: 100vh;
margin: 0;
width: 100vw;
color: #2A2A49; } /* very dark purple */

// If no colour is given this is white
.reveal .slides section:not([class*='color--']) {
  background-color: $white; }

.reveal .slides section.stack {
  background-color: transparent; }

// Grid for the slides
.reveal .slides section .grid-wrapper {
  box-sizing: border-box;
  grid-column-gap: 5vmin;
  // grid-row-gap: 5vmin;
  grid-row-gap: 2vmin;
  grid-template-rows: 5.5vmin 1fr;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-areas:
    ". header ."
    ". content .";
  height: 100%;
  padding: 10vmin; }

// This extends to the full width of the slide
// .reveal .slides section .grid-wrapper {
//     box-sizing: border-box;
//     grid-column-gap: 10vmin;
//     grid-row-gap: 5vmin;
//     grid-template-areas: "header" "content";
//     grid-template-rows: 4.5vmin 1fr;
//     height: 100%;
//     padding: 10vmin; }

// Slides header
.reveal .slides section .header {
  align-items: center;
  display: flex;
  grid-area: header;
  // background-color: #121212;
}

// Logo in header
.reveal .slides section .logo {
  background-image: url("../assets/Tania_logo.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  display: inline-block;
  grid-area: header;
  height: 5.5vmin;
  margin-right: 1.5vmin;
  width: 4.5vmin;}

// Section title in header
.reveal .slides section .section {
  @include themify($themes){
    font-family: themed('title-font');
  }
  text-transform: uppercase;
  line-height: 5.5vmin;
  font-size: 0.7em;
  font-weight: 500; }

.reveal .slides section:not([class*="color--"]) .section {
  color: #9292A8; }

// Main content in slides
.reveal .slides section .content {
  align-self: center;
  grid-area: content;
}

// Dark coloured slides
.reveal .slides section.color--dark .section {
  color: #EEEDEF; }

// Intro slide
.reveal .slides section.intro {
height: calc(100vh - 8vmin);
margin: 4vmin;
padding: 15px;
width: calc(100vw - 8vmin); }

@media (max-width: 768px) {
  .reveal .slides section.intro {
    height: calc(100vh - 4vmin);
    margin: 2vmin;
    width: calc(100vw - 4vmin); } }

// Wrapper for the logo in the intro
.reveal .slides section.intro .logo-wrapper {
  display: flex;
  height: 100%; }

.reveal .slides section.intro .logo {
  background-position: center;
  background-size: contain;
  height: auto;
  margin: auto;
  min-height: 200px;
  min-width: 200px;
width: 33%; }

// Title section in intro
.reveal .slides section.title {
  height: calc(100vh - 8vmin);
  margin: 4vmin;
  width: calc(100vw - 8vmin);
  color: $white;
  margin-left: 22vw;
  width: calc(100vw - 4vmin - 22vw); }

@media (max-width: 768px) {
  .reveal .slides section.title {
    height: calc(100vh - 4vmin);
    margin: 2vmin;
    width: calc(100vw - 4vmin); } }

// Grid areas for intro
.reveal .slides section.title .grid-wrapper {
grid-template-areas:
  "header header"
  "content content"
  ". credit";
grid-template-columns: auto 40%;
grid-template-rows: 6vmin 1fr auto;
grid-column-gap: 10vmin; }

.reveal .slides section.title .logo {
background-image: url("../assets/Tania_logo.png");
height: 6vmin;
width: 6vmin; }

.reveal .slides section.title .logo--full {
background-image: url("../assets/Tania_logo.png");
width: 24vmin; }

.reveal .slides section.title .logo--soda {
background-image: url("../assets/logos/Hex_logo.png");
width: 24vmin; }

.reveal .slides section.title .logo--pyladies {
background-image: url("../assets/logos/pyladies-nwuk-nocompass-darkpink.svg");
width: 24vmin; }

.reveal .slides section.title .content {
align-self: center;
grid-area: content; }

.reveal .slides section.title h1 {
color: $white; }

.reveal .slides section.title .credit {
align-self: end;
grid-area: credit;
line-height: 1.8em; }

.reveal .slides section.title .credit hr {
  border: solid #EEEDEF;
  border-width: 2px 0 0 0;
  margin: 0 0 .8em 0;
  width: 25%; }

.reveal .slides section.title .credit .label {
  font-size: 60%;
  text-transform: uppercase; }

.reveal .slides section.title .credit .name {
  font-weight: bold; }

@media (max-width: 568px) {
  .reveal .slides section.title .grid-wrapper {
    grid-template-areas: "header" "content" "credit";
    grid-template-columns: auto; }
  .reveal .slides section.title .credit {
    justify-self: end; } }

@media (min-width: 1280px) {
  .reveal .slides section.title .content {
    display: grid;
    grid-template-areas: "title description";
    grid-template-columns: auto 40%;
    grid-column-gap: 10vmin; }

.reveal .slides section.title h1 {
    grid-area: title; }

.reveal .slides section.title .description {
    grid-area: description;
    margin-top: 0.5em; } }

// Subsection slide: header with content and description
.reveal .slides section.subsection .grid-wrapper {
  grid-template-areas: "header" "title" "description";
  grid-template-rows: 5.5vmin 3fr 1fr; }

// Subsection title
.reveal .slides section.subsection h1 {
  align-self: center;
  grid-area: title;
  margin: 0; }

// Subsection description
.reveal .slides section.subsection .description {
  color: #9292A8;
  grid-area: description;
  min-height: 4em; }

.reveal .slides section.subsection:not([class*='color--']) .logo, .reveal .slides section.subsection.color--light .logo {
  background-image: url("../assets/Tania_logo.png"); }

// For midnight color subsection
.reveal .slides section.subsection.color--midnight .description, .reveal .slides section.subsection.color--ice .description, .reveal .slides section.subsection.color--radiant .description {
  color: #EEEDEF; }

// Quotes
.reveal .slides section.quote blockquote {
  align-self: center;
  background: none;
  color: #66646B;
  border: none;
  box-shadow: none;
  font-size: 1.8em;
  font-style: normal;
  margin: 0;
  max-width: 42ex;
  padding: 0;
  width: 100%; }

.reveal .slides section.quote hr {
  border: solid #9292A8;
  border-width: 1px 0 0 0;
  margin: .8em 0;
  width: 15%; }

.reveal .slides section.quote cite {
  color: #9292A8;
  display: block;
  font-size: 1rem; }

// Quotes in midnight
.reveal .slides section.quote.color--midnight blockquote, .reveal .slides section.quote.color--ice blockquote, .reveal .slides section.quote.color--radiant blockquote {
  color: #FFFFFF; }

.reveal .slides section.quote.color--midnight hr, .reveal .slides section.quote.color--ice hr, .reveal .slides section.quote.color--radiant hr {
  border-color: #EEEDEF; }

.reveal .slides section.quote.color--midnight cite, .reveal .slides section.quote.color--ice cite, .reveal .slides section.quote.color--radiant cite {
  color: #EEEDEF; }

// Team slides
.reveal .slides section.team .content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
  grid-column-gap: 10vmin;
  grid-row-gap: 5vmin; }

.reveal .slides section.team .profile {
  display: grid;
  grid-column-gap: 5vmin;
  grid-template-rows: 15vmin 1fr; }

.reveal .slides section.team h2 {
  color: #9292A8;
  font-size: inherit;
  margin-bottom: 0.5em; }

.reveal .slides section.team p:first-of-type {
  margin-top: 0; }

.reveal .slides section.team p:last-of-type {
  margin-bottom: 0; }

.reveal .slides section.team img {
  display: block;
  float: left;
  height: auto;
  margin-right: 5vmin;
  width: auto; }

.reveal .slides section.team .name {
  margin: 0.6em 0; }

.reveal .slides section.team .role {
  color: #9292A8;
  font-size: 0.8em;
  margin: 0.6em 0; }

.reveal .slides section.team .supplement {
  font-size: .8em;
  color: #9292A8; }

@media not all and (max-width: 768px) {
  .reveal .slides section.team .profile:first-child:nth-last-child(1) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr; }
    .reveal .slides section.team .profile:first-child:nth-last-child(1) img {
      float: none;
      max-width: none;
      max-height: none;
      width: 100%; } }

@media (min-width: 1280px) {
  .reveal .slides section.team img {
    float: none;
    max-width: none;
    max-height: 100%;
    width: 100%; }
  .reveal .slides section.team .profile {
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr; }
  .reveal .slides section.team .profile:first-child:nth-last-child(1) {
    justify-self: center;
    padding: 0 10vmin; } }

@media (max-width: 768px) {
  .reveal .slides section.team .content {
    grid-auto-flow: row; } }

@media (max-width: 768px) and (orientation: landscape) {
  .reveal .slides section.team .content {
    grid-auto-flow: column; }
  .reveal .slides section.team .profile {
    grid-template-rows: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5vmin; }
  .reveal .slides section.team .details {
    display: none; }
  .reveal .slides section.team img {
    float: left;
    height: auto;
    margin-right: 5vmin;
    max-height: 50%;
    max-width: 40%;
    width: auto; } }

@media (max-width: 568px) {
  .reveal .slides section.team .content {
    grid-auto-flow: row; }
  .reveal .slides section.team .profile {
    grid-template-rows: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 5vmin; }
  .reveal .slides section.team .details {
    display: none; }
  .reveal .slides section.team img {
    float: left;
    height: auto;
    margin-right: 5vmin;
    max-height: 50%;
    max-width: 40%;
    width: auto; } }

// Ending slide
.reveal .slides section.end {
  height: 100vh;
  margin: 0;
  width: 100vw; }

.reveal .slides section.end .logo-wrapper {
  display: flex;
  height: 100%; }

.reveal .slides section.end .logo {
  background-image: url("../assets/Tania_logo.png");
  background-position: center;
  background-size: contain;
  height: auto;
  margin: auto;
  min-height: 200px;
  min-width: 200px;
  width: 33%; }

.reveal .slides section.end.color--radiant .logo {
  background-image: url("../assets/Tania_logo.png"); }

/*******************************************************************************
 * Code Segments
 ******************************************************************************/

 // This gives a code within a figure element... will change in the future as this
 // is a hack copied from somewhere else and I am not happy with the way it works
 // but it allows to add captions
figure.code {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  & pre{
    box-shadow: none;
    line-height: 1.3rem;
    margin: 0;
    overflow: hidden;
    border-radius: 5px;
  }
  & figcaption{
    box-sizing: border-box;
    padding: 1ex 2ex;
    width: 100%;
    font-size: 0.875em;
    // border: 1px solid #3f3f3f;
    border-bottom-width: 0;
    background-color: #333;  //dark graphite grey
    text-align: left;
    border-radius: 3px;
    color: #EEEDEF!important;
  }
  & pre + figcaption {
    border-top-width: 0;
    border-bottom-width: 1px;}
}

// This is a WIP do not use
figure.code2 {
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px;
  & pre{
    border-radius: 5px;
    & code{
      background-color: #222;
      margin: 0;
      color: #d5d5d5; // default light grey
      border-radius: 5px;
    }
  }
}

.reveal pre{
  box-shadow: none;
  line-height: 1.1rem;
  width: 100%;
  & code{
    -moz-tab-size: 2;
    tab-size: 2;
    box-sizing: border-box;
    font-family: $code-font;
  }
}

.reveal code{
  background-color: $light-gray;
  padding: 2px 7px;
  border-radius: 3px;
  font-size: 1rem;
}
