/**
* My own theme for reveal.js
* note that this originated from the many many hours
* I spent customising the slides for my own use
 */

/*********************************************
 * VARIOUS IMPORTS
 *********************************************/

// import fonts 
@import url(../../reveal.js/lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../reveal.js/lib/font/poppins/poppins.css);
@import url(../../reveal.js/lib/font/leafy/leafy.css);
// Google fonts imports here
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Dosis:400,600|Overpass+Mono|PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Annie+Use+Your+Telescope');
// custom icons
@import url(../../assets/icons_collection/font/flaticon.css);
section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
    color: #222;
}

/* partials */

// colour variables
@import "partials/variables";
// light coloured slides themes
@import "partials/light-themes";
// multiple mixins
@import "partials/mixins";
// extra slides content
@import "partials/individual-slides";
// reveal slides items
@import "partials/section-components";
/*********************************************
* Content slides
*********************************************/

/************ 
Intro slide
************/

// logo that goes in the intro slide
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
    border-radius: 20px;
    background: white;
    border-radius: 50%;
}

// Wrapper for the logo in the intro slide
.reveal .slides section.intro .logo-wrapper {
    display: flex;
    height: 100%;
}

// Intro slide
.reveal .slides section.intro {
    height: calc(100vh - 8vmin);
    margin: 4vmin;
    padding: 15px;
    width: calc(100vw - 8vmin);
}

@media (max-width: 768px) {
    .reveal .slides section.intro {
        height: calc(100vh - 4vmin);
        margin: 2vmin;
        width: calc(100vw - 4vmin);
    }
}

// logo that goes in the intro slide
.reveal .slides section.intro .logo {
    background-position: center;
    background-size: contain;
    height: auto;
    margin: auto;
    min-height: 200px;
    min-width: 200px;
    width: 33%; // border-radius: 50%;
}

/****************** 
Presentation title
******************/

// Presentation title slide: this is rectangular
.reveal .slides section.title {
    height: calc(100vh - 8vmin);
    margin: 4vmin;
    width: calc(100vw - 8vmin);
    color: $white;
    margin-left: 14vw;
    width: calc(100vw - 4vmin - 14vw);
}

// Grid areas for introduction title slide
// usually contains title, presented and the event
.reveal .slides section.title .grid-wrapper {
    grid-template-areas: "header header2" "content content" ". credit";
    grid-template-columns: auto 50%;
    grid-template-rows: 6vmin 1fr auto;
    grid-column-gap: 5vmin;
}

.reveal .slides section.title .logo {
    background-image: url("../assets/personal/Purple.png");
    height: 6vmin;
    width: 6vmin;
}

.reveal .slides section.title .logo--full {
    background-image: url("../assets/personal/Purple.png");
    width: 24vmin;
}

.reveal .slides section.title .logo--soda {
    background-image: url("../assets/logos/Hex_logo.png");
    width: 24vmin;
}

.reveal .slides section.title .logo--sodafull {
    background-image: url("../assets/logos/HS.png");
    width: 24vmin;
}

.reveal .slides section.title .logo--sodafullw {
    background-image: url("../assets/logos/HS_white.png");
    width: 24vmin;
}

.reveal .slides section.title .logo--pyladies {
    background-image: url("../assets/logos/pyladies-nwuk-nocompass-darkpink.svg");
    width: 24vmin;
}

// ensure the content is centered
.reveal .slides section.title .content {
    align-self: center;
    grid-area: content;
}

// Main slide title
.reveal .slides section.title h1 {
    color: $white;
}

//  Credit: the author
.reveal .slides section.title .credit {
    align-self: end;
    grid-area: credit;
    line-height: 1.8em;
}

// author line separation
.reveal .slides section.title .credit hr {
    border: solid #EEEDEF;
    border-width: 2px 0 0 0;
    margin: 0 0 .8em 0;
    width: 35%;
}

// Label to introduce the author
.reveal .slides section.title .credit .label {
    font-size: 60%;
    text-transform: uppercase;
}

// name in the credit
.reveal .slides section.title .credit .name {
    font-weight: bold;
}

// Add url to the intro slide header 
.slides .title .presentation-url {
    grid-area: header2;
    font-size: 1em;
    align-self: center;
    opacity: 0.5;
    color: black;
}

/**************
* Subsection
**************/

// Subsection slide: header with content and description
.reveal .slides section.subsection .grid-wrapper {
    grid-template-areas: ". header . " ". title ." ". description .";
    grid-template-rows: 5.5vmin 3fr 1fr;
}

// Subsection title
.reveal .slides section.subsection h1 {
    align-self: center;
    grid-area: title;
    margin: 0;
}

// Subsection description
.reveal .slides section.subsection .description {
    color: #9292A8;
    grid-area: description;
    min-height: 4em;
}

.reveal .slides section.subsection:not([class*='color--']) .logo,
.reveal .slides section.subsection.color--light .logo {
    background-image: url("../assets/personal/Purple.png");
}

// For midnight color subsection
.reveal .slides section.subsection.color--midnight .description,
.reveal .slides section.subsection.color--ice .description,
.reveal .slides section.subsection.color--radiant .description {
    color: #EEEDEF;
}

/*********************************************
* APPLY THEMES
*********************************************/

// Used for the theming
.reveal[class*="pattern--"] {
    background-position: center center;
    background-size: 133vmax auto;
}

// Stream now with zigzag
.reveal.pattern--stream {
    background-image: url("../assets/patterns/zigzag_purple.svg");
    background-color: white;
}

.reveal.pattern--stream .slides section.intro {
    @include themify($themes) {
        background-color: themed('primary')
    }
}

.reveal.pattern--stream .slides section.intro .logo {
    background-image: url("../assets/Tania_logo_white.png");
}

.reveal.pattern--stream .slides section.title {
    @include themify($themes) {
        background-color: themed('primary')
    }
}

.reveal.pattern--stream .progress span {
    @include themify($themes) {
        background: themed('third')
    }
}

.reveal.pattern--stream .controls {
    @include themify($themes) {
        color: themed('third')
    }
}

// Lines
.reveal.pattern--lines {
    background-image: url("../assets/patterns/lines.png");
}

.reveal.pattern--lines .slides section.intro {
    @include themify($themes) {
        background-color: themed('secondary')
    }
}

.reveal.pattern--lines .slides section.intro .logo {
    background-image: url("../assets/personal/Purple.png");
}

.reveal.pattern--lines .slides section.title {
    @include themify($themes) {
        background-color: themed('secondary');
        color: themed('primary')
    }
}

.reveal.pattern--lines .progress {
    @include themify($themes) {
        background-color: themed('third')
    }
}

// Hex
.reveal.pattern--hex {
    background-image: url("../assets/patterns/hex_pattern.png");
}

.reveal.pattern--hex .slides section.intro {
    @include themify($themes) {
        background-color: themed('secondary')
    }
}

.reveal.pattern--hex .slides section.title {
    @include themify($themes) {
        background-color: themed('secondary');
        color: themed('primary')
    }
}

.reveal.pattern--hex .progress {
    @include themify($themes) {
        background-color: themed('third')
    }
}

// Star
.reveal.pattern--star {
    background-image: url("../assets/patterns/star_pattern.svg");
}

.reveal.pattern--star .slides section.intro {
    @include themify($themes) {
        background-color: themed('secondary')
    }
}

.reveal.pattern--star .slides section.title {
    @include themify($themes) {
        background-color: themed('secondary');
        color: themed('primary')
    }
}

.reveal.pattern--star .progress {
    @include themify($themes) {
        background-color: themed('third')
    }
}

// Flowers
.reveal.pattern--flowers {
    background-image: url("../assets/patterns/floral_pattern.svg");
}

.reveal.pattern--flowers .slides section.intro {
    @include themify($themes) {
        background-color: themed('secondary');
    }
}

.reveal.pattern--flowers .slides section.title {
    @include themify($themes) {
        background-color: themed('secondary');
        color: themed('primary');
    }
}

.reveal.pattern--flowers .progress {
    @include themify($themes) {
        background-color: themed('third');
    }
}

// pupilines
.reveal.pattern--pupilines {
    background-image: url("../assets/patterns/pupilines.svg");
}

.reveal.pattern--pupilines .slides section.intro {
    @include themify($themes) {
        background-color: themed('secondary')
    }
}

.reveal.pattern--pupilines .slides section.title {
    @include themify($themes) {
        background-color: themed('secondary');
        color: themed('primary')
    }
}

.reveal.pattern--pupilines .progress {
    @include themify($themes) {
        background-color: themed('secondary')
    }
}

.reveal.pattern--pupilines .controls {
    @include themify($themes) {
        color: themed('secondary')
    }
}

/*********************************************
* CSS GRID USE
*********************************************/

.grid-wrapper {
    display: grid;
}

/************************************************
* MODIFIED SECTIONS
* ADDS LOGO AND SPECIFICS FOR THE THEME
* Slides have two main areas: header and contetnt
**************************************************/

// Each slide is a section
.reveal .slides section {
    height: 100vh;
    margin: 0;
    width: 100vw;
    color: #2A2A49;
}

// If no colour is given this is white
.reveal .slides section:not([class*='color--']) {
    background-color: $white;
}

.reveal .slides section.stack {
    background-color: transparent;
}

// Grid for the slides note that this leaves a gap on the sides
// to prevent content from over flowing
.reveal .slides section .grid-wrapper {
    box-sizing: border-box;
    grid-column-gap: 5vmin; // grid-row-gap: 5vmin;
    grid-row-gap: 2vmin;
    grid-template-rows: 5.5vmin 1fr;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-areas: ". header ." ". content .";
    height: 100%;
    padding: 10vmin;
}

// This extends to the full width of the slide
// .reveal .slides section .grid-wrapper {
//     box-sizing: border-box;
//     grid-column-gap: 10vmin;
//     grid-row-gap: 5vmin;
//     grid-template-areas: "header" "content";
//     grid-template-rows: 4.5vmin 1fr;
//     height: 100%;
//     padding: 10vmin; }
// Slides header
.reveal .slides section .header {
    align-items: center;
    display: flex;
    grid-area: header;
    padding: 5px;
}

// Logo in header
.reveal .slides section .logo {
    background-image: url("../assets/personal/Purple.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    grid-area: header;
    height: 5.5vmin;
    margin-right: 1.5vmin;
    width: 5.5vmin; // background-color: #121212;
}

// Section title in header
.reveal .slides section .section {
    @include themify($themes) {
        font-family: themed('title-font');
    }
    text-transform: uppercase;
    line-height: 6vmin;
    font-size: 0.8em;
    font-weight: 500; // background-color: #121212;
}

// Main content in slides
.reveal .slides section .content {
    align-self: center;
    grid-area: content;
}

/*********************************************
* COLORIZE THE SLIDES
*********************************************/

// Enable the use of slide colours
.reveal .slides section:not([class*="color--"]) .section {
    color: #9292A8;
}

/*********************************************
*  FULL QUOTE SLIDES
*********************************************/

// Quotes
.reveal .slides section.quote blockquote {
    align-self: center;
    background: none;
    color: #66646B;
    border: none;
    box-shadow: none;
    font-size: 1.8em;
    font-style: normal;
    margin: 0;
    max-width: 42ex;
    padding: 0;
    width: 100%;
}

.reveal .slides section.quote hr {
    border: solid #9292A8;
    border-width: 1px 0 0 0;
    margin: .8em 0;
    width: 15%;
}

.reveal .slides section.quote cite {
    color: #9292A8;
    display: block;
    font-size: 1rem;
}

// Quotes in midnight
.reveal .slides section.quote.color--midnight blockquote,
.reveal .slides section.quote.color--ice blockquote,
.reveal .slides section.quote.color--radiant blockquote {
    color: #FFFFFF;
}

.reveal .slides section.quote.color--midnight hr,
.reveal .slides section.quote.color--ice hr,
.reveal .slides section.quote.color--radiant hr {
    border-color: #EEEDEF;
}

.reveal .slides section.quote.color--midnight cite,
.reveal .slides section.quote.color--ice cite,
.reveal .slides section.quote.color--radiant cite {
    color: #EEEDEF;
}

// Team slides
.reveal .slides section.team .content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-column-gap: 10vmin;
    grid-row-gap: 5vmin;
}

.reveal .slides section.team .profile {
    display: grid;
    grid-column-gap: 5vmin;
    grid-template-rows: 15vmin 1fr;
}

.reveal .slides section.team h2 {
    color: #9292A8;
    font-size: inherit;
    margin-bottom: 0.5em;
}

.reveal .slides section.team p:first-of-type {
    margin-top: 0;
}

.reveal .slides section.team p:last-of-type {
    margin-bottom: 0;
}

.reveal .slides section.team img {
    display: block;
    float: left;
    height: auto;
    margin-right: 5vmin;
    width: auto;
}

.reveal .slides section.team .name {
    margin: 0.6em 0;
}

.reveal .slides section.team .role {
    color: #9292A8;
    font-size: 0.8em;
    margin: 0.6em 0;
}

.reveal .slides section.team .supplement {
    font-size: .8em;
    color: #9292A8;
}

@media not all and (max-width: 768px) {
    .reveal .slides section.team .profile:first-child:nth-last-child(1) {
        grid-template-rows: auto;
        grid-template-columns: 1fr 4fr;
    }
    .reveal .slides section.team .profile:first-child:nth-last-child(1) img {
        float: none;
        max-width: none;
        max-height: none;
        width: 100%;
    }
}

@media (min-width: 1280px) {
    .reveal .slides section.team img {
        float: none;
        max-width: none;
        max-height: 100%;
        width: 100%;
    }
    .reveal .slides section.team .profile {
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr;
    }
    .reveal .slides section.team .profile:first-child:nth-last-child(1) {
        justify-self: center;
        padding: 0 10vmin;
    }
}

@media (max-width: 768px) {
    .reveal .slides section.team .content {
        grid-auto-flow: row;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .reveal .slides section.team .content {
        grid-auto-flow: column;
    }
    .reveal .slides section.team .profile {
        grid-template-rows: auto;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 5vmin;
    }
    .reveal .slides section.team .details {
        display: none;
    }
    .reveal .slides section.team img {
        float: left;
        height: auto;
        margin-right: 5vmin;
        max-height: 50%;
        max-width: 40%;
        width: auto;
    }
}

@media (max-width: 568px) {
    .reveal .slides section.team .content {
        grid-auto-flow: row;
    }
    .reveal .slides section.team .profile {
        grid-template-rows: auto;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 5vmin;
    }
    .reveal .slides section.team .details {
        display: none;
    }
    .reveal .slides section.team img {
        float: left;
        height: auto;
        margin-right: 5vmin;
        max-height: 50%;
        max-width: 40%;
        width: auto;
    }
}

// Ending slide
.reveal .slides section.end {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.reveal .slides section.end .logo-wrapper {
    display: flex;
    height: 100%;
}

.reveal .slides section.end .logo {
    background-image: url("../assets/Tania_logo.png");
    background-position: center;
    background-size: contain;
    height: auto;
    margin: auto;
    min-height: 200px;
    min-width: 200px;
    width: 33%;
}

.reveal .slides section.end.color--radiant .logo {
    background-image: url("../assets/Tania_logo.png");
}

/*******************************************************************************
 * Code Segments
 ******************************************************************************/

// This gives a code within a figure element... will change in the future as this
// is a hack copied from somewhere else and I am not happy with the way it works
// but it allows to add captions
figure.code {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    & pre {
        box-shadow: none;
        line-height: 1.3rem;
        margin: 0;
        overflow: hidden;
        border-radius: 5px;
    }
    & figcaption {
        box-sizing: border-box;
        padding: 1ex 2ex;
        width: 100%;
        font-size: 0.875em; // border: 1px solid #3f3f3f;
        border-bottom-width: 0;
        background-color: #333; //dark graphite grey
        text-align: left;
        border-radius: 3px;
        color: #EEEDEF !important;
    }
    & pre+figcaption {
        border-top-width: 0;
        border-bottom-width: 1px;
    }
}

.reveal pre {
    box-shadow: none;
    line-height: 1.2rem;
    width: 100%;
    & code {
        -moz-tab-size: 2;
        tab-size: 2;
        box-sizing: border-box;
        font-family: $code-font;
        font-size: 0.9rem;
        background-color: $light-gray;
    }
}

.reveal code {
    background-color: $light-gray;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 1.2rem;
}