/*
* Tania's theme for Reveal.js, this is a highly customised very opinionated
* theme originated from the many many hours I have spent customising 
* my themes
 */

/*********************************************
 * VARIOUS IMPORTS
 *********************************************/

// import fonts 
@import url(../../reveal.js/lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../reveal.js/lib/font/poppins/poppins.css);
@import url(../../reveal.js/lib/font/leafy/leafy.css);
// Google fonts imports here
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Dosis:400,600|Overpass+Mono|PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Space+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Annie+Use+Your+Telescope');
// custom icons
@import url(../../assets/icons_collection/font/flaticon.css);
/* partials */

// colour variables
@import "partials/variables";
// light coloured slides themes
@import "partials/light-themes";
// multiple mixins
@import "partials/mixins";
// extra slides content
@import "partials/individual-slides";
// reveal slides items
@import "partials/section-components";
// patterns
@import "partials/patterns";
/***********************
* VARIABLES FOR LIGHT-THEME
************************/

$text-color: #2A2A49;
$default-background: white;
/*****************************
* USE DEFAULT COLOR FOR SLIDES
******************************/

// If no colour is given this uses the default colour
.reveal .slides section.subsection:not([class*='color--']) {
    background-color: $white;
}

.reveal .slides section:not([class*='color--']) {
    background-color: $default-background;
}