/**
 * Presentation-specific styles.
 * These are items I generally use for my own presentations
 * and decided to put them in a separate css
 * These are not Reveal.js modifiers
 */

/* Remove padding from title in the heading section */

.reveal .slides section.title {
    padding: 0;
    .content {
        grid-template-columns: auto;
        grid-template-areas: "title" "description";
    }
}