/** Customised template for slides  **/
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }
@import url(../node_modules/@ibm/type/css/ibm-type.css);
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/*********************************************
* PERSONAL
*********************************************/
$primary: #654EA3; /* ultra violet */
$secondary: #747CA8; /* lavender violet */
$secondary-light: lighten($secondary, 10%);
$primary-light: lighten($primary, 10%);
$white: #fff;
$third: #3388A6; /*blue moon*/
$text-color: #737373; /* dark gray */

$title-font:'IBMPlexSerif', monospace;
$base-font:'IBMPlexSans', sans-serif;

/*********************************************
 * OVER WRITING
 *********************************************/
.reveal {
  font-family: $base-font;}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: $primary;
  font-family: $title-font;
  font-weight: bold;
  text-transform: none;
}

.reveal strong,
.reveal b {
  font-weight: bold;
  color: $secondary;
}

.reveal .controls {
  color: $secondary; }

.reveal .progress span {
  background: $secondary;}

.reveal a{
  color: $third!important;
  padding: 10px;
}

/*********************************************
 * custom components
 *********************************************/
 .logo-top{
   position: fixed;
    display: block;
    bottom: 8px;
    right: 8px;
    z-index: 31;
    background-image: url("../../assets/Sheffield_logo.png");
    background-size: 20%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}


.logo-bottom{
  position: fixed;
   display: block;
   bottom: 8px;
   right: 8px;
   z-index: 31;
   background-image: url("../../assets/Sheffield_logo.png");
   background-size: 20%;
   background-position: 0% 0%;
   background-repeat: no-repeat;
}



.reveal box-text{
  border: 4px solid $third;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9em;
}


.author{
  font-family: $base-font;
  color: $secondary-light;
  font-size: 25px!important;
  padding-top: 20px!important;
}

.sm_img{
  max-width: 200px;
  height: auto;
  float: right;
}


.reveal section img {
  padding: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: 0px;
}


.float_modal{
  position: relative;
  top: 90px;
  left: 50%;
  max-width: 900px;
  min-width: 100px;
  max-height: 600px;
  min-height: 100px;
  z-index: 2000;
  transform: translateX(-50%) translateY(-50%);
  background: hsla(212, 11%, 20%, 0.98);
  border-radius: 15px;
}

.modal_p{
  padding: 5px;
  color: $white;
  font-size: 0.56em;
}


.two-colors{
  height: auto;
  background-color: $white;
  background: linear-gradient(to right,
    $white 50%,
    $secondary 50%
  )
}


.items-block {
    display: flex;
    font-family: $base-font;

    .single-block {
    width: 100%;
    display: flex;
    padding: 10px;

        &.single1 {
            width:50%;
            font-size: 0.9em;
         }

        &.single2 {
            width: 50%;
            color: $white;
            font-size: 0.9em;

            &.h5{
              color: $white;
            }
        }
    }
}

.item-img {
    width: 200px;
    height: 200px;
    display: flex;
    position:absolute;
    top: 10%;

    .item-img img {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
    }
}


.left_align{
  text-align: left;
}
