/** Customised template for slides  **/
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Amatic+SC:400+700');

/*********************************************
* PERSONAL
*********************************************/
$primary: #FF3D7F; /* pink */
$secondary: #3FB8AF; /*turqoise */
$secondary-light: #7FC7AF;
$primary-light: #FF9E9D;
$white: #fff;
$purple: #7C77B9;

$title-font:'Amatic SC', cursive;
$base-font:'Josefin Sans', sans-serif;

/*********************************************
 * OVER WRITING
 *********************************************/
.reveal {
  font-family: $base-font;}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: $primary;
  font-family: $title-font;
  font-weight: bold;
}

.reveal strong,
.reveal b {
  font-weight: bold;
  color: $secondary;
}

.reveal .controls {
  color: $secondary; }

.reveal .progress span {
  background: $secondary;}

/*********************************************
 * custom components
 *********************************************/


/* Slides */

.white_overlay h2{
font-family: $title-font;
font-weight: bold;
color: $white;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
font-size: 5rem;
transform: translate(-50%, -50%);
}

.dark_box{
background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  height: 50%;
  width: 50%;
  float: none;
  border-radius: 5px;
}


.two-colors{
  height: auto;
  background-color: $white;
  background: linear-gradient(to right,
    $purple 50%,
    $white 50%
  )
}



.items-block {
    display: flex;
    font-family: $base-font;

    .single-block {
    width: 100%;
    display: flex;
    padding: 10px;

        &.single1 {
            width:50%;
         }

        &.single2 {
            width: 50%;
        }
    }
}



.item-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    .item-img img {
        max-width: 100%;
    }
}


.sm_img{
  max-width: 400px;
  height: auto;
  float: right;
  position:absolute;
  left: 80%;
  display: block;
}


.float_modal{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 900px;
  min-width: 100px;
  max-height: 600px;
  min-height: 100px;
  z-index: 2000;
  transform: translateX(-50%) translateY(-50%);
  background: hsla(212, 11%, 20%, 0.98);
  border-radius: 10px;
}


.modal_p{
  padding: 10px;
  color: $primary-light;
  font-size: 0.56em;
}

.caption_p{
  font-weight: light;
  font-style: italic;
  font-size: 0.4em;
  color: $white;
  font-family: $base-font;
}
