/*********************************************
* ADDITIONAL SLIDES CLASSES
* THESE CAN BE USED WITH ANY THEME
*********************************************/

// All code-light version
.reveal .slides section.color--code {
    background-color: #eeeeee;
    /* pale gray */
    font-family: $code-font;
    & h1,
    h2,
    h3 {
        font-family: $code-font;
    }
    & code {
        background-color: transparent;
        font-size: 1.7em;
    }
}

// Black slides
.reveal .slides section.color--dark {
    background-color: #22272B;
    color: rgb(237, 231, 243);
}

.reveal .slides section.color--dark .logo {
    background-image: url("../assets/Tania_logo_gray2.png");
}

// Grey lavender
.reveal .slides section.color--ice {
    background-color: #9292A8;
    /* pale lavender gray */
    color: $white;
}

.reveal .slides section.color--ice .logo {
    background-image: url("../assets/Tania_logo.png");
}

// Violet slide
.reveal .slides section.color--violet {
    background-color: #3A015C;
    color: $white;
    & h1,
    h2 {
        color: $seagreen;
    }
}

.reveal .slides section.color--violet .logo {
    background-image: url("../assets/Tania_logo.png");
}

// Soda slide
.reveal .slides section.color--soda .logo {
    background-image: url("../assets/logos/Hex_Logo.png");
    width: 24vmin;
}

.reveal .slides section.color--soda {
    background-color: $white;
    color: #66646B;
}

// Soda dark
.reveal .slides section.color--sodadark .logo {
    background-image: url("../assets/logos/Hex_Logo.png");
    width: 24vmin;
}

.reveal .slides section.color--sodadark {
    background-color: #2A2A49;
    /* navy blue */
    color: $white;
    & h1,
    h2 {
        color: #95d5d4;
    }
}

// Light slide
.reveal .slides section.color--light {
    background-color: $white;
    color: #66646B;
}

.reveal .slides section.color--light .logo {
    background-image: url("../assets/Tania_logo.png");
}

// Dark navy
.reveal .slides section.color--midnight {
    background-color: #2A2A49;
    /* navy blue */
    color: $white;
    & h1,
    h2 {
        color: $salmon;
    }
}

.reveal .slides section.color--midnight .logo {
    background-image: url("../assets/Tania_logo_gray.png");
}

// Turquoise slide
.reveal .slides section.color--vibrant {
    background-color: $seagreen;
    color: $white;
    & h1 {
        color: $ultraviolet;
    }
}

.reveal .slides section.color--vibrant .logo {
    background-image: url("../assets/Tania_logo.png");
}

// Topaz slide
.reveal .slides section.color--topaz {
    background-color: #67aeca;
    color: $white;
    & h1 {
        color: #675682;
    }
}

.reveal .slides section.color--vibrant .logo {
    background-image: url("../assets/Tania_logo.png");
}

// Two tones slide
.reveal .slides section.color--two {
    background-color: $white;
    color: $white;
    background: linear-gradient(to right, $ultraviolet 50%, $white 50%)
}

.reveal .slides section.color--two .logo {
    background-image: url("../assets/Tania_logo_gray.png");
}

// items inside the two colour slide
// might change these for a grid in the future
.items-block {
    display: flex;
    @include themify($themes) {
        font-family: themed('base-font')
    }
    &.single-block {
        width: 100%;
        display: flex;
        padding: 10px;
        &.left {
            width: 50%;
            color: $white;
        }
        &.right {
            width: 50%;
        }
    }
}

// Gradient colour slides
.reveal .slides section.color--grad-purple {
    background-color: $white;
    background: linear-gradient(45deg, ( #2D266F, #7C2289));
    color: $white !important;
    & h1 {
        color: $white;
    }
    & .logo {
        background-image: url("../assets/Tania_logo_white.png");
    }
}

.reveal .slides section.color--grad-green {
    background-color: $white;
    color: $white;
    background: linear-gradient(45deg, ( #90218C, #009890));
    & h1 {
        color: $white;
    }
    & .logo {
        background-image: url("../assets/Tania_logo_white.png");
    }
}

.reveal .slides section.color--grad-blue {
    background-color: $white;
    color: #FFFFFF;
    background: linear-gradient(45deg, ( #303395, #27F0F0));
    & h1 {
        color: $white;
    }
    & .logo {
        background-image: url("../assets/Tania_logo_white.png");
    }
}

// terminal sytle code
.browser-window,
.terminal-window {
    text-align: left;
    margin: 20px;
    width: 602px;
    height: 355px;
    display: inline-block;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: overlay;
    font-family: $code-font;
}

.browser-window .top-bar,
.terminal-window .top-bar {
    height: 30px;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb;
}

.browser-window .circle,
.terminal-window .circle {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
}

.browser-window .circles,
.terminal-window .circles {
    margin: 1px 10px;
}

.browser-window .window-content,
.terminal-window .window-content {
    margin: 0;
    width: 100%;
    min-height: 90%;
    display: inline-block;
    border-radius: 0 0 4px 4px;
}

.browser-window.dark,
.terminal-window.dark {
    background-color: #1d1941;
    border: 1px solid #262257;
    box-shadow: 0px 2px 10px rgba(22, 20, 50, 0.4);
}

.browser-window.dark .top-bar,
.terminal-window.dark .top-bar {
    border-top: thin solid #181536;
    border-bottom: thin solid #13112b;
    background: #161432;
}

.browser-window.dark .circle,
.terminal-window.dark .circle {
    background-color: #2e2969;
}

.browser-window.dark .circle.circle-red,
.terminal-window.dark .circle.circle-red {
    background-color: #F23969;
}

.browser-window.dark .circle.circle-yellow,
.terminal-window.dark .circle.circle-yellow {
    background-color: #FFC69F;
}

.browser-window.dark .circle.circle-green,
.terminal-window.dark .circle.circle-green {
    background-color: #6AE9F8;
}

.browser-window {
    .window-content>pre {
        background: #fff;
        margin: 0;
        border: 0;
        padding: 4% 8%;
    }
    &.dark .window-content>pre {
        background: #1d1941;
        margin: 0;
        border: 0;
        padding: 4% 8%;
    }
}

.terminal-window {
    &.dark .window-content>pre {
        background: #1d1941;
        margin: 0;
        border: 0;
        padding: 4% 8%;
    }
    .window-content {
        background: #232A35;
        >pre {
            background: #232A35;
            margin: 0;
            border: 0;
            padding: 4% 8%;
        }
    }
}