/*********************************************
 * GLOBAL STYLES- go over the reveal.js 
 *********************************************/

.reveal {
    font-size: inherit;
    font-weight: normal;
    color: $text-color;
    @include themify($themes) {
        font-family: themed('base-font')
    }
}

// selection will be coloured with the theme colour
::selection {
    color: #151515;
    text-shadow: none;
    @include themify($themes) {
        background: themed('secondary-light')
    }
}

::-moz-selection {
    color: $white;
    text-shadow: none;
    @include themify($themes) {
        background: themed('third')
    }
}

// Note that by default in Reveal.js the text is aligned to the center
// I prefer this to be on the left hand
.reveal .slides {
    text-align: left;
}

.reveal .slides section {
    box-sizing: border-box;
    padding: 0;
}

/*********************************************
* HEADERS
*********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin-bottom: 2.5vmin;
    color: inherit;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    @include themify($themes) {
        color: themed('primary');
        font-family: themed('title-font');
    }
    font-weight: 400; //600 too bold for IBM plex
    line-height: 1.5;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
}

/*********************************************
* IMAGES
*********************************************/

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a {
    @include themify($themes) {
        text-decoration-color: themed('third');
        -webkit-text-decoration-color: themed('third');
        color: themed('third')
    }
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
    &:hover {
        text-shadow: none;
        border: none; // text-decoration: underline;
        @include themify($themes) {
            color: themed('third');
            border-bottom: 2px solid themed('third');
            /* I prefer a thicker line than the underline */
        }
    }
}

.reveal .roll span:after {
    color: $white;
    @include themify($themes) {
        background: themed('third')
    }
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
    @include themify($themes) {
        color: themed('third')
    }
}

// move the controls further into the slides body
.reveal .controls {
    right: 4vmin;
    bottom: 4vmin;
}

// controls further out 
@media (max-width: 768px) {
    .reveal .controls {
        right: 2vmin;
        bottom: 2vmin;
    }
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    background: rgba(48, 40, 63, 0.2);
    @include themify($themes) {
        color: themed('third')
    }
}

.reveal .progress span {
    @include themify($themes) {
        background: themed('secondary')
    }
}

/*********************************************
* LISTS
*********************************************/

/* Custom icon list */

.reveal ul.icon {
    list-style-type: none;
}

ul.icon li {
    text-indent: -1.4em;
    margin-bottom: 0.5em;
    &::before {
        @include themify($themes) {
            color: themed('secondary')
        }
        font-family: 'flaticon';
        content: "\f102";
        /* maguey */
        float: left;
        width: 1.2em;
        font-size: 1em;
    }
    &.pinata::before {
        content: "\f100";
        @include themify($themes) {
            color: themed('secondary')
        }
    }
    &.nopal::before {
        content: "\f101";
        @include themify($themes) {
            color: themed('secondary')
        }
    }
    &.cactus::before {
        content: "\f103";
        @include themify($themes) {
            color: themed('secondary')
        }
    }
    &.skull::before {
        content: "\f104";
        @include themify($themes) {
            color: themed('secondary')
        }
    }
}

/* table with no divisions and with bold purple first column */

.reveal table th {
    font-weight: bold;
    color: #5F4B8B;
}

.commands table {
    margin: 0;
    th {
        text-align: right;
        border-bottom: none;
    }
    td {
        border-bottom: none;
        +td {
            opacity: 0.5;
        }
    }
    +figure {
        margin-top: 2em;
    }
}

/*********************************************
* OTHER
*********************************************/

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: block;
}

.reveal em {
    font-style: italic;
}

/*********************************************
* APPLY THEMES
*********************************************/

// Use the desired patter on the background
.reveal[class*="pattern--"] {
    background-position: center center;
    background-size: 133vmax auto;
}

/*********************************************
* CSS GRID USE
*********************************************/

.grid-wrapper {
    display: grid;
}

/************************************************
* MODIFIED SECTIONS
* ADDS LOGO AND SPECIFICS FOR THE THEME
* Slides have two main areas: header and contetnt
**************************************************/

// Each slide is a section in reveal.js
.reveal .slides section {
    height: 100vh;
    margin: 0;
    width: 100vw;
    color: $text-color;
}

// ensures we can see the background
.reveal .slides section.stack {
    background-color: transparent;
}

// Grid for the slides
// Nnote that this leaves a gap on the sides to prevent content from over flowing
// to remove delete the .
.reveal .slides section .grid-wrapper {
    box-sizing: border-box;
    grid-column-gap: 5vmin; // grid-row-gap: 5vmin;
    grid-row-gap: 2vmin;
    grid-template-rows: 5.5vmin 1fr;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-areas: ". header ." ". content .";
    height: 100%;
    padding: 10vmin;
}

// Slides header
.reveal .slides section .header {
    align-items: center;
    display: flex;
    grid-area: header;
    padding: 5px;
}

// Logo in header
.reveal .slides section .logo {
    background-image: url($logo-path);
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
    grid-area: header;
    height: 5.5vmin;
    margin-right: 1.5vmin;
    width: 5.5vmin;
}

// Section title in header
.reveal .slides section .section {
    @include themify($themes) {
        font-family: themed('title-font');
    }
    text-transform: uppercase;
    line-height: 5.5vmin;
    font-size: 0.8em;
    font-weight: 500;
}

// Main content in slides
.reveal .slides section .content {
    align-self: center;
    grid-area: content;
}