/*********************************************
* PERSONAL VARIABLES
*********************************************/

// Colours used on all themes
$light-gray: #e2e6e9;
$white: #fff;
$text-color: #737373; //dark gray */
$salmon: #F8757F;
$ultraviolet: #5F4B8B;
$seagreen: #41ead4;
$soda-grey: #aaabab;
// Fonts used with no themes
// For example, the mono font used
$code-font: 'Overpass Mono',
monospace;
// Logo used across the slides
$logo-path:"../assets/personal/Purple.png";
$assets-path:"../assets";